main section { 
    float:left; 
    width:30%;
    height:100%;
    border:2px solid red;
    margin-right:1%;
  }
  #player0_score label, #player0 {
    color:green;
    border-color:green;
  }
  #player1_score label, #player1 {
    color:blue;
    border-color:blue;
  }
  
  .card {
    padding:20px;
    border:1px solid black;
    height:30px;
    width:20px;
    float:left;
    background:black;
    margin:2px;
  }
  
  #middle .card {
    background:white;
  } 