* {
    box-sizing: border-box;
  }
  #count {
    background: rgb(132, 145, 114);
    width: 10%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 64px;
    margin: 0;
    border: 3px solid rgb(3, 46, 3);
    border-radius: 5px;
  }
  
  .button {
    background: rgb(51, 3, 51);
    width: 5%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 32px;
    border: 3px solid rgb(138, 19, 168);
    border-radius: 5px;
  }
  
  .button, #count {
    float: left;
  }
  
  #minus {
    margin: 25px 2.5% 0 37.5%;
  }
  
  #plus {
    margin: 25px 37.5% 0 2.5%;
  }