:root {
    --cell-size: 80px;
    --border: 1px solid black;
  }
  
main{
    background-color: blueviolet;
}

  table {
    background-color: darkmagenta;
    border-collapse: collapse;
    margin-bottom: 1em;
  }
  
  td {
    color: hotpink;  
    width: var(--cell-size);
    height: var(--cell-size);
    text-align: center;
    line-height: var(--cell-size);
    font-size: calc(var(--cell-size) / 2);
  }
  
  td + td {
    border-left: var(--border);
  }
  
  tr + tr td {
    border-top: var(--border);
  }